### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

*.cache
*.pyc
npm-debug.log

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# color scheme gens
/ayu-*.yml
